<div class="container">
    <div class="row">
      <div class="col-12 p-2 text-center bg-col">
        <img src="/assets/img/logo_oro.png" alt="Logo Autobuses Oro" class="img-fluid logo-image">
      </div>
      <div class="col-12 text-center">
        <h1>Ooops!</h1>
        <p class="text-justify">{{data.message}}</p>
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-oro btn-lg rounded-pill" [mat-dialog-close]="true" >Continuar</button>
      </div>
    </div>
  </div>