<app-header></app-header>


    <section class="subheader-site">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center fw-bold text-uppercase display-6">Bolsa de trabajo</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="vacantes">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="/assets/img/bolsa_trabajo.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 text-vacantes">
                    <h3 class="fw-bold">Bolsa de trabajo</h3>
                    <p class="text-justify mb-3">¡Empresa poblana con más de 50 años en el giro de transporte terrestre de pasajeros y con presencia en el estado de Puebla y estados aledaños!</p>
                    <p class="text-justify mb-3">Te invitamos a formar parte de nuestro gran equipo de trabajo como:</p>
                    <a href="https://holatrabajo.com/autotransportes-oro" target="_blank" class="btn btn-oro mt-5">Vacantes de empleo</a>
                </div>
            </div>
        </div>
        
    </section>

    
<app-footer></app-footer>    