<div class="float_buttons_div">
    <ul class="icons_list">
        <li>
            <a href="https://api.whatsapp.com/send?phone=5212224506605&amp;" target="_blank"><i class="whatsapp-icon fab fa-whatsapp"></i></a>
        </li>
    </ul>
</div>

<footer>
    <div class="container footer-container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 d-flex align-items-center ">
                <img src="/assets/img/logo_oro.png" alt="Logo Autobuses Oro" class="img-fluid w-75 mt-n2">
                <!--<p class="text-white pt-4 mb-2 small w-75">Buscamos ofrecer soluciones integrales en viajes de personas y así elevar la calidad de vida de nuestros usuarios.</p>
                <p class="text-white pt-2 small w-75">Informes y ventas:<br> 
                    01 800 9000 676<br> 
                    (222) 249 71 77</p>-->
            </div>
            <div class="col-lg-3 col-sm-3">
                <h5 class="text-white mb-3">Enlaces de interes</h5>
                <ul class="list-unstyled text-white">
                    <li class="small"><a href="/quienes-somos">¿Quiénes somos?</a></li>
                    <li class="small"><a href="/vacantes">Bolsa de trabajo</a></li>
                    <!--<li><a href="/assets/doc/aviso_oro.pdf" target="_blank">Aviso de privacidad</a></li>-->
                    <li class="small"><a href="/aviso-de-privacidad">Aviso de privacidad</a></li>
                    <li class="small"><a href="/aviso-de-privacidad-proveedores">Aviso de privacidad proveedores</a></li>
                    <!--<li class="small"><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>-->
                    <li class="small"><a href="/politicas">Políticas y recomendaciones de viaje</a></li>
                    <li class="small"><a href="/terminos-condiciones">Terminos y condiciones</a></li>
                    <!--<li><a href="/contacto">Contacto</a></li>-->
                </ul>
            </div>
            <div class="col-lg-3 col-sm-3">
                <h5 class="text-white mb-3">Contacto</h5>
                <p class="text-white small"> <i class="fa fa-map-marker" aria-hidden="true"></i> Boulevard Norte 4222. Colonia Las Cuartillas, <br> <span style="padding-left: .9rem;">Puebla, Pue. C.P.72050</span> </p>

                <p class="text-white small"> <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:2222497419"> (222) 249 74 19</a></p>

                <p class="text-white small"> <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:atencion_clientes@grupo-oro.com.mx"> atencion_clientes&#64;grupo-oro.com.mx</a></p>

                <p class="text-white mb-0 small"><span class="fw-bold">Horario de atención a clientes:</span></p>
                <p class="text-white small"> <i class="fa-solid fa-clock"></i> De lunes a viernes de 07:00 a 21:45 hrs.<br>
                        <span style="padding-left: .9rem">Sábado y domingo de 09:00 a 15:00 hrs.</span> <br>
                        <span style="padding-left: .9rem">y de 16:00 a 19:00 hrs.</span>
                </p>
            </div>
            <div class="col-lg-3 col-sm-3">
                <h5 class="text-white mb-3">Síguenos</h5>
                <ul class="social-icons ps-0">
                    <li><a href="https://www.facebook.com/AutobusesORO" class="social-icon" target="_blank"> <i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/OroAutobuses" class="social-icon" target="_blank"> <i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/autobusesoro/" class="social-icon" target="_blank"> <i class="fa-brands fa-instagram"></i></a></li>
                </ul>
                <h6 class="text-white">Atención a clientes</h6>
                <small class="text-white">Nos interesa saber su opinión</small>
            </div>
        </div>
    </div>
    <div class="container footer-copy">
        <div class="row d-flex justify-content-between">
            <p class="text-white mb-0 py-3">Autobuses Oro © 2022</p>
        </div>
    </div>
</footer>

