<app-header></app-header>

<section class="subheader-site">
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center fw-bold text-uppercase display-6">Blog</h3>
            </div>
        </div>
    </div>
</section>

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Recorre Cuernavaca, el destino que lo tiene todo</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Publicado el 23 de octubre, 2023 por Redacción</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Blog</a>
                    <a class="badge bg-secondary text-decoration-none link-light ms-1" href="#!">Destinos</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="/assets/img/Oro_blog.jpg" alt="Cuernavaca destino" /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 text-justify mb-4">La ciudad de Cuernavaca es muy conocida no sólo por el excelente clima que posee durante gran parte del año, sino también por sus puntos turísticos que están  llenos de historia y que la vuelven un lugar favorito para muchos viajeros. Si bien, Morelos es un estado que ofrece muchos  lugares más por recorrer, su capital lo tiene todo. A tan solo 3 horas de la ciudad de Puebla, Cuernavaca  es el destino perfecto para recorrer un fin. Si quieres descubrir este mágico lugar prepárate porque ¡ORO te lleva!</p>

                    <h2 class="fw-bolder mb-4 mt-5">La Catedral de Cuernavaca</h2>
                    <p class="fs-5 text-justify mb-4">La Catedral y Ex Convento de la Asunción de Cuernavaca es un punto obligado si eres amante de la arquitectura, su construcción data del siglo XVI y es una de las edificaciones más antiguas de México. Esta catedral no es muy ostentosa pero sí muy imponente, si te adentras quedarás maravillado con toda la historia que sus murales relatan. </p>

                    <h2 class="fw-bolder mb-4 mt-5">El Palacio de Cortés</h2>
                    <p class="fs-5 text-justify mb-4">Sí, el monumental palacio que en el México virreinal fungió como residencia del emblemático personaje Hernán Cortés y sede del entonces llamado “Marquesado del Valle de Oaxaca”, hoy en día alberga el Museo Regional de los Pueblos de Morelos donde podrás admirar los vestigios, murales y colecciones que forman parte del legado histórico de Morelos y México; además de diversas actividades que puedes disfrutar en familia.</p>
                    <figure class="mb-4"><img class="img-fluid rounded" src="/assets/img/Oro_blog_cuernavaca_1.jpg" alt="Cuernavaca destino" /></figure>
                    
                    <h2 class="fw-bolder mb-4 mt-5">Parque Estatal Urbano Barranca de Chapultepec</h2>
                    <p class="fs-5 text-justify mb-4">Si eres de los que les encanta estar en contacto con la naturaleza, el Parque Estatal Urbano Barranca de Chapultepec es un atractivo turístico que debes visitar. Ubicado en el corazón de Cuernavaca y considerado por muchos como el pulmón de la ciudad, es un espacio abundante de flora y fauna que al adentrarte no recibirás más que un cuerpo y mente llenos de paz y tranquilidad, así que, si al llegar el fin de semana te sientes estresado, ya sabes qué destino elegir.</p>
                    <figure class="mb-4"><img class="img-fluid rounded" src="/assets/img/Oro_blog_cuernavaca_2.jpg" alt="Cuernavaca destino" /></figure>

                    <p class="fs-5 text-justify mb-4">Y si lo que quieres es probar la gastronomía morelense, en los alrededores del centro de la ciudad podrás encontrar un sinfín de lugares cuyos platillos típicos de la región te dejarán sorprendido.</p>
                    <p class="fs-5 text-justify mb-4">Así que ya sabes, si quieres viajar y conocer todo sobre este increíble lugar, adquiere tus boletos que nosotros te estaremos esperando para llevarte cómodo y seguro.</p>

                </section>
            </article>
            
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget--
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Fin Seach widget -->
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Enlaces de interes</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/terminales">Terminales</a></li>
                                <li><a href="/facturacion">Facturacion</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="/aviso-de-privacidad">Aviso de privacidad</a></li>
                                <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget--
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
            <!-- Fin Side widget -->
        </div>
    </div>
</div>


<app-footer></app-footer>  