<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top menu1">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/img/logo_oro.png" alt="Logo Autobuses Oro" class="img-fluid logo-image">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/terminales">Terminales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/facturacion">Facturación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/responsabilidad-social">Responsabilidad Social</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mas-servicios">Más Servicios</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
                -->
            </ul>
        </div>
    </div>
</nav>
