<app-header></app-header>


    <section class="subheader-site">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center fw-bold text-uppercase display-6">Contacto</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="oro-contacto">
        <div class="container">
            <div class="row py-5 d-flex align-items-center">
                <div class="col-md-6">
                    <h4 class="fw-bold display-6 pb-4">Sigamos en contacto</h4>
                    <p class="lead mb-0"><span class="fw-bold">Visítanos:</span></p>
                    <p class="lead pb-3"> <i class="fa fa-map-marker" aria-hidden="true"></i> Boulevard Norte 4222. Colonia Las Cuartillas, <br> <span style="padding-left: 22px;">Puebla, Pue. C.P.72050</span> </p>

                    <p class="lead mb-0"><span class="fw-bold">Llámanos:</span></p>
                    <p class="lead pb-3"> <i class="fa fa-phone" aria-hidden="true"></i> (222) 249 71 77</p>

                    <p class="lead mb-0"><span class="fw-bold">Escríbenos:</span></p>
                    <p class="lead"> <i class="fa fa-envelope" aria-hidden="true"></i> atencion_clientes&#64;grupo-oro.com.mx</p>

                    <p class="lead mb-0"><span class="fw-bold">Horario de atención a clientes:</span></p>
                    <p class="lead"> <i class="fa-solid fa-clock"></i> De lunes a viernes de 07:00 a 21:45 hrs.<br>
                        <span style="padding-left: 22px;">Sábado y domingo de 09:00 a 15:00 hrs.</span> <br>
                            <span style="padding-left: 22px;">y de 16:00 a 19:00 hrs.</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.780763260248!2d-98.20558794896188!3d19.073374456946862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc13ee0dce05d%3A0x1aa80ae3deeec3ca!2sBlvrd%20Nte%204222%2C%20H%C3%A9roes%20del%205%20de%20Mayo%2C%2072050%20Puebla%2C%20Pue.!5e0!3m2!1ses!2smx!4v1657596557474!5m2!1ses!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>

<app-footer></app-footer>    
