<app-loader></app-loader>
<app-header></app-header>
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center row-finder">
            <!-- Solo titulo -->
            <h2 class="text-center text-white fw-semibold display-2">Bienvenidos a Autobuses Oro</h2>
            <div class="col-lg-10 col-md-12 col-sm-12 shadow p-4 bg-body rounded viaje-form">
                <app-origen-destino class="mat-typography" (buscarviaje)="buscarCorrida($event)"></app-origen-destino>
            </div>
        </div>
    </div>
</header>
<section class="zona-oro">
    <div class="container">
        <div class="row pb-3">
            <div class="col-md-12 text-center">
                <h2 class="fw-bold">Zona Oro</h2>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="#">
                    <img src="/assets/img/ZONA ORO1-02.jpg" class="img-fluid w-75 d-block mx-auto" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="#">
                    <img src="/assets/img/ZONA ORO2-02.jpg" class="img-fluid w-75 d-block mx-auto" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="#">
                    <img src="/assets/img/ZONA ORO2-01.jpg" class="img-fluid w-75 d-block mx-auto" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="mt-0 align-items-center d-flex bg-dark oro-blog">
    <div class="container ">
        <div class="row align-items-center d-flex justify-content-between">
            <div class="col-12 col-md-6 pb-5 order-2 order-sm-2 ">
                <h1 class="  text-white font-weight-bold mb-3 mt-5 display-3">Recorre Cuernavaca, el destino que lo
                    tiene todo</h1>
                <p class="lead text-white">La ciudad de Cuernavaca es muy conocida no sólo por el excelente clima que
                    posee durante gran parte del año, sino también por sus puntos turísticos.</p>
                <div class=" d-flex mt-3 mb-1">
                    <a class="btn btn-oro btn-raised btn-lg  mt-md-3 " href="/blog/recorre-cuernavaca"
                        role="button">Leer más</a>
                </div>
            </div>
            <div class="col-12 col-md-6 order-sm-1 order-md-2  ">
                <div class="icon-wrap text-primary d-flex justify-content-md-center my-3">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="oro-informa bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center pb-4">
                <h2 class="fw-bold">#OROInforma</h2>
            </div>
        </div>

        <div class="row pb-4">
            <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <img src="/assets/img/oro_tips_01.jpg" alt="Image"
                                    class="img-fluid w-75 d-block mx-auto">
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <img src="/assets/img/oro_tips_02.jpg" alt="Image"
                                    class="img-fluid w-75 d-block mx-auto">
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <img src="/assets/img/oro_tips_03.jpg" alt="Image"
                                    class="img-fluid w-75 d-block mx-auto">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <img src="/assets/img/oro_tips_04.jpg" alt="Image"
                                    class="img-fluid w-75 d-block mx-auto">
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <img src="/assets/img/oro_tips_01.jpg" alt="Image"
                                    class="img-fluid w-75 d-block mx-auto">
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <img src="/assets/img/oro_tips_02.jpg" alt="Image"
                                    class="img-fluid w-75 d-block mx-auto">
                            </div>

                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center pb-4">
                <h2 class="fw-bold">Más Servicios</h2>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="/mas-servicios/">
                    <img src="/assets/img/mas_servicios_oro.jpg" class="img-fluid w-75 d-block mx-auto" alt="">
                </a>
                <h4 class="text-center py-3">Paquetería</h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="#">
                    <img src="/assets/img/viajes_especiales_oro.jpg" class="img-fluid w-75 d-block mx-auto" alt="">
                </a>
                <h4 class="text-center py-3">Viajes Especiales</h4>
            </div>
        </div>

    </div>
</section>

<app-footer></app-footer>