<app-header></app-header>


    <section class="subheader-site">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center fw-bold text-uppercase display-6">Preguntas frecuentes</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="oro-bg">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                <h5 class="fw-bold"><i class="fa-solid fa-ticket"></i> Descuentos de estudiante y boletos con descuentos</h5> 
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <p>Los descuentos para estudiantes solo serán aplicados para los periodos vacacionales marcados por la SEP (Secretaria de Educación Pública). Presentando la credencial de estudiante o maestro vigente.
                                Para consultarlo pueden ingresar a la página:
                                <a href="http://www.gob.mx/sep" target="_blank">http://www.gob.mx/sep</a></p>
                                <p>
									Contamos con descuentos para niños de 3 a 10 años.
								</p>

								<p>
									Y para adultos mayores presentando su credencial INSEN ó INAPAM.
									<span>*ESTOS DESCUENTOS SON ÚNICAMENTE DOS POR UNIDAD.</span>
								</p>  
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                <h5 class="fw-bold"><i class="fa-solid fa-paw"></i> Viaje con mascotas</h5> 
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <p>Esta permitido viajar con sus mascotas dentro de su respectiva transportadora, para mayor información sobre el tamaño comunicarse al teléfono <a href="tel:249-71-77">249-71-77</a> o al <a href="tel:01 800 9000 676">01 800 9000 676</a> de lunes a domingo  de 7:00 a 22:00 Hrs.</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                <h5 class="fw-bold"><i class="fa-solid fa-clock"></i> Consulta de horarios, tiempo de recorrido y salidas</h5>
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <p>
                                    Para consultar de forma específica sobre los horarios y salidas lo puede hacer a través de nuestra página WEB en el apartado <span>"Rutas y Horarios”</span> o marcando al teléfono <a href="tel:249-71-77">249-71-77</a> o al <a href="tel:01 800 9000 676">01 800 9000 676</a> de lunes a domingo  de 7:00 a 22:00 Hrs. donde se aclarará cualquier duda.
                                </p>
                                <p>
                                    <span>Le pedimos tomar en cuenta que los horarios de salida de los autobuses están sujetos al flujo de pasajeros y/o disponibilidad de unidades. </span>
                                </p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                  <h5 class="fw-bold"><i class="fa-solid fa-bus"></i> ¿Qué rutas son las que realiza ORO?</h5>
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                              <div class="accordion-body">
                                <p>
                                    Estamos presentes en varios Estados de la República Mexicana como son:
                                </p>
                                <ul>
                                    <li>Puebla</li>
                                    <li>Tlaxcala</li>
                                    <li>Guerrero</li>
                                    <li>Oaxaca</li>
                                    <li>Morelos</li>
                                </ul>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                  <h5 class="fw-bold"><i class="fa-solid fa-circle-question"></i> Objetos perdidos y/o extraviados</h5>
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                              <div class="accordion-body">
                                <p>
                                  En caso de extravío de equipaje se solicita anotar número de unidad, fecha, hora, procedencia y lugar de llegada para que lo podamos identificar en nuestro sistema.
                                </p>
                                <p>
                                  Es responsabilidad de los usuarios cuidar y estar al pendiente de sus pertenencias; ya que ningún operador tiene instrucciones de guardar o conservar objetos olvidados de los pasajeros por lo que les agradecemos revisar antes y después de su viaje sus pertenencias.
                                </p>
                                <p>
                                  La empresa no se hace responsable de los objetos extraviados y/o perdidos a bordo de las unidades.
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                                  <h5 class="fw-bold"><i class="fa-solid fa-circle-exclamation"></i> ¿Cómo y dónde puedo presentar quejas en el servicio y/o unidad?</h5>
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                              <div class="accordion-body">
                                <p>
                                    Es importante para emitir cualquier queja ayudarnos a identificar al personal o unidad de la cual se quiere reportar para así tomar las medidas necesarias.
                                </p>
                                <p>
                                    Para hacer la queja puede comunicarse a nuestra línea directa al teléfono (044) 2225-23-86-87 de lunes a domingo  de 7:00 a 22:00 Hrs. o al correo:
                                    <br><br>
                                    <a href="mailto:atencion_clientes@grupo-oro.com.mx">atencion_clientes&#64;grupo-oro.com.mx</a>
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                                  <h5 class="fw-bold"><i class="fa-solid fa-virus-covid"></i> COVID-19</h5>
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                              <div class="accordion-body">
                                <p>Mas Información sobre COVID-19:</p>					
                                <p>																
                                    
                                    <a href="#">
                                                        Preguntas y Respuestas COVID-19
                                                    </a>
                                </p>
                              </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>


<app-footer></app-footer>    