<app-header></app-header>


    <section class="subheader-site">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center fw-bold text-uppercase display-6">Facturación</h3>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="fw-bold text-center pb-4">Te ofrecemos las siguientes opciones para facturar</h3>
                </div>
                <div class="col-md-6">
                    <div class="border-0 shadow-lg p-5 oro-card-bg">
                        <h4 class="text-center pb-2">Facturación en Línea</h4>
                        <p> Sólo podrás facturar en línea tus boletos que cuenten con código QR. </p>
                        <p> Si tu boleto es manual deberás entregarlo en original a la terminal más cercana. </p>
                        <p> Puedes añadir varios boletos en una sola factura. Si no cuentas con una red estable, se recomienda la facturación por boleto, viaje, o en cantidades menores a 15 boletos. </p>
                        <p> La factura saldrá con los datos registrados al momento de su compra.</p>
                        <a href="https://facturacion.autobusesoro.com.mx/Facturacion33/cfdiportal.aspx" class="btn btn-oro-2">Comienza a facturar</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border-0 shadow-lg p-5 oro-card-bg">
                        <h4 class="text-center pb-2">Facturación presencial</h4>
                        <p>Debes acudir a las terminales cuando:</p>
                        <ul>
                            <li>Requieras facturar nuestro servicio de paquetería o exceso de equipaje.</li>
                            <li>El boleto sea manual, es decir, que no cuente con código QR.</li>
                        </ul>
                        <p>Presenta el comprobante de operación original, adjuntando tus datos fiscales y un correo electrónico por el cual se enviará tu factura.</p>
                        <p>En cuanto dejes tu solicitud, el tiempo de respuesta es de un lapso de 4 días hábiles.</p>

                        <p>NOTA: También puedes dejar tus boletos que cuenten con código QR</p>

                    </div>
                </div>
                <div class="row d-flex justify-content-center py-4">
                    <div class="col-md-6">
                        <!--
                        <div class="border-0 shadow-lg p-5 oro-card-bg-2">
                            <h4 class="text-center pb-2">Facturación vía correo electrónico</h4>
                            <p>Sólo podrás facturar vía correo cuando:</p>
                            <ul>
                                <li>El boleto haya sido adquirido a través del portal www.autobusesoro.com.mx</li>
                            </ul>
                            <p>Una vez realizado el viaje, envía un mensaje  al número 22 15 91 77 15 adjuntando su razón social  y un correo electrónico para que se le dé seguimiento </p>

                        </div>
                        -->
                    </div>
                    <div class="col-md-8 pt-5">
                        <p class="text-center">La expedición de tu factura, por tratarse de un documento fiscal, sólo podrás solicitarlo o facturarlo dentro del mes en el cual realizaste tu compra y 2 días naturales posteriores a cierre del mes inmediato anterior, ya que pasando las fechas no se expedirá un comprobante debido a que tu ticket formará parte de la factura global correspondiente al mes de que se trate. Más dudas o aclaraciones sobre tus facturas, marca al número 222 249 74 19 ext. 343 o vía WhatsApp al 22 1591 7715 en un horario de 9:30 a 15:00 hrs y de 17:00 a 19:00 h de lunes a viernes; sábados de 9:30 a 15:00 hrs, o bien, acudir a tu terminal más cercana.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<app-footer></app-footer>   
