<app-header></app-header>


    <section class="subheader-site">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center fw-bold text-uppercase display-6">Terminales</h3>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="fs-5">Estamos cerca de usted, es por ello que tenemos 17 terminales y 3 paradas en diferentes ciudades y locaciones para que llegue al que más le convenga.</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 pt-3">
                    <h4 class="fw-bold">Nuestas terminales son:</h4>
                    <div class="row pt-3">
                        <div class="card border-0 rounded-3 shadow mb-3">
                          <div class="card-body">
                            <h5 class="card-title">CAPU (Puebla)</h5>
                            <p class="card-text">Dirección: Blvd. Norte 4222, Col. Las Cuartillas, Puebla, Puebla.<br>
                                Teléfono: 222-2497177</p>

                          </div>
                        </div>

                        <div class="card border-0 rounded-3 shadow mb-3">
                            <div class="card-body">
                              <h5 class="card-title">2 Poniente (Puebla)</h5>
                              <p class="card-text">Dirección: 2 poniente 3303, Esquina con 33 norte, Col. Amor Puebla, Puebla.<br>
                                Teléfono: 222-2496303</p>
  
                            </div>
                          </div>
                          <div class="card border-0 rounded-3 shadow mb-3">
                            <div class="card-body">
                              <h5 class="card-title">Atlixco Centro</h5>
                              <p class="card-text">Dirección: Av. Independiencia 701, Col. Centro, Atlixco, Puebla.<br>
                                Teléfono: 244-4451139</p>
  
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-md-6">
                    b5-col
                </div>
            </div>
        </div>
    </section>-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--<p class="fs-5">Estamos cerca de usted, es por ello que tenemos 17 terminales y 3 paradas en diferentes ciudades y locaciones para que llegue al que más le convenga.</p>-->

                    <p class="fs-5">Presentes en 5 Estados de la República. Ubica desde dónde puedes dar inicio tu viaje. ¿Estás por iniciar tu viaje? Descubre nuestros puntos de venta.</p>

                </div>
            </div>
            
            <div class="row terminales">
                <h4 class="fw-bold py-4">Encuentra tu terminal más cercana y comienza tu viaje </h4>

                <div class="col-md-12 d-none d-lg-block">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                          <div class="mapas-scroll">
                          <!--<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">-->
                            <div class="card border-0 rounded-3 shadow mb-3 nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                <div class="card-body">
                                  <h5 class="card-title">CAPU (Puebla)</h5>
                                  <p class="card-text">Dirección: Blvd. Norte 4222, Col. Las Cuartillas, Puebla, Puebla.<br>
                                      Teléfono: 222-2497177</p>
      
                                </div>
                            </div>
                          <!--</button>-->
                          <!--<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">-->
                            <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">
                                <div class="card-body">
                                    <h5 class="card-title">2 Poniente (Puebla)</h5>
                                    <p class="card-text">Dirección: 2 poniente 3303, esquina con 33 norte, Col. Amor Puebla, Puebla.<br>
                                      Teléfono: 222-2496303</p>
      
                                </div>
                            </div>    
                          <!--</button>-->
                          <!--<button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">-->
                            <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="true">
                                <div class="card-body">
                                    <h5 class="card-title">Caseta (Puebla)</h5>
                                    <p class="card-text">Vía Atlixcayotl 5430, Col. San Bernardino Tlaxcalancingo, San Andrés Cholula, Puebla.<br>
                                        Teléfono: 222-2103640</p>
      
                                </div>
                            </div> 
                          <!--</button>-->
                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Atlixco Centro</h5>
                              <p class="card-text">Dirección: Av. Independiencia 701, Col. Centro, Atlixco, Puebla.<br> 
                                Teléfono: 244-4451139</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings2" role="tab" aria-controls="v-pills-settings2" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Atlixco Ferro</h5>
                              <p class="card-text">Calle del Encino sin número, Col. Prado Sur, Atlixco, Puebla.<br> 
                                Teléfono: 244-7618899</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings3" role="tab" aria-controls="v-pills-settings3" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">I. de Matamoros</h5>
                              <p class="card-text">C. Morelos 16, Col. Centro, Izúcar de Matamoros, Puebla.<br> 
                                Teléfono: 243-4360730</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings4" role="tab" aria-controls="v-pills-settings4" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Acatlán de Osorio</h5>
                              <p class="card-text">Av. Independencia 11, Col. San Rafael, Acatlán de Osorio, Puebla<br> 
                                Teléfono: 953-5340199</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings5" role="tab" aria-controls="v-pills-settings5" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Chiautla</h5>
                              <p class="card-text">Av. Reforma 14, Col. Centro, Chiautla de Tapia, Puebla<br> 
                                Teléfono: 275-4312474</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings6" role="tab" aria-controls="v-pills-settings6" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Tehuitzingo</h5>
                              <p class="card-text">Carretera Internacional sin número, Col. Centro, Tehuitzingo, Puebla<br> 
                                Teléfono: 275-4325492</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings7" role="tab" aria-controls="v-pills-settings7" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Huajuapan Centro</h5>
                              <p class="card-text">C. Nuyoo 19, Col. Centro, Huajuapan de León, Oaxaca<br> 
                                Teléfono: 953-5321513</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings8" role="tab" aria-controls="v-pills-settings8" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Cuernavaca</h5>
                              <p class="card-text">Blvd. Cuauhnahuac Km 1.5, Col. Bugambilias, Cuernavaca, Morelos<br> 
                                Teléfono: 777-5163730</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings9" role="tab" aria-controls="v-pills-settings9" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Cuautla Artillero</h5>
                              <p class="card-text">Máximo Bravo Y Mariano 53, Esq. Ejército Americano, Col. Artillero, Cuautla, Morelos<br> 
                                Teléfono: 735-1080049</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings10" role="tab" aria-controls="v-pills-settings10" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Cuautla Centro</h5>
                              <p class="card-text">C. 2 de Mayo Esq. Ing. Monroy 68, Col. Centro, Cuautla, Morelos<br> 
                                Teléfono: 735-3523555</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings11" role="tab" aria-controls="v-pills-settings11" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Amayuca</h5>
                              <p class="card-text">Carretera México-Oaxaca sin número, Col. Cuatro Caminos, Jantetelco, Morelos<br> 
                                Teléfono: 731-3514230</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings12" role="tab" aria-controls="v-pills-settings12" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Tlapa</h5>
                              <p class="card-text">C. Morelos 44 Esq. con Heroico Colegio Militar, Col. San Francisco, Tlapa de Comonfort, Guerrero<br> 
                                Teléfono: 757-4760083</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings13" role="tab" aria-controls="v-pills-settings13" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Huamantla</h5>
                              <p class="card-text">C. Matamoros Oriente 103, Col. Centro, Huamantla, Tlaxcala<br> 
                                Teléfono: 247-4722512</p>
                            </div>
                          </div>

                          <div class="card border-0 rounded-3 shadow mb-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings14" role="tab" aria-controls="v-pills-settings14" aria-selected="true">
                            <div class="card-body">
                              <h5 class="card-title">Huamuxtitlán</h5>
                              <p class="card-text">Carretera Palomas-Tlapa s/n frente a la Cruz de entrada a Huamuxtitlán, Col. El Calvario, Huamuxtitlan, Guerrero.<br> 
                                Teléfono: 757-497-0784</p>
                            </div>
                          </div>

                        </div>

                        </div> 
                          
                        <div class="tab-content w-75" id="v-pills-tabContent">
                          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="ps-3">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.780763260248!2d-98.20558794896185!3d19.073374456946862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc1062f9c62ed%3A0xdd56b39b5ed4c4f8!2sCAPU!5e0!3m2!1ses!2smx!4v1657600936302!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>
                          
                          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="ps-3">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4484.651048211088!2d-98.22382513511603!3d19.058153451935404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc6d356e04e1f%3A0xe0cceb8843a7f439!2sAv%202%20Pte%203303%2C%20Amor%2C%2072140%20Puebla%2C%20Pue.!5e0!3m2!1ses!2smx!4v1657600678666!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.081907416502!2d-98.25579654891331!3d19.016112087059003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc77002091cd1%3A0x454ffc82ab629ca0!2sAtlixc%C3%A1yotl%205430%2C%20Santa%20Fe%2C%20Tlaxcalancingo%2C%20Pue.!5e0!3m2!1ses!2smx!4v1660366254102!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3774.606129660389!2d-98.4378522488947!3d18.904546687123652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfb47eda5f6501%3A0x1a2b3d7318e2a91f!2sAv%20Independencia%20701%2C%20Centro%2C%2074200%20Atlixco%2C%20Pue.!5e0!3m2!1ses!2smx!4v1660599225559!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3774.666132064831!2d-98.4382785488947!3d18.901886987125152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfb47f37cd7da5%3A0xb0ab5b1a08128e09!2sEncino%2C%20Prado%20Sur%2C%2074260%20Atlixco%2C%20Pue.!5e0!3m2!1ses!2smx!4v1660599894624!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings3" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.33223627039!2d-98.46861824889817!3d18.60412048729839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cf0012132daaab%3A0x287d88d1a3b71ae1!2sMorelos%2016%2C%20Centro%2C%2074400%20Iz%C3%BAcar%20de%20Matamoros%2C%20Pue.!5e0!3m2!1ses!2smx!4v1660602749299!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings4" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3790.2096204540358!2d-98.05082764890268!3d18.200288487535392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cf417d24c3a287%3A0xd8ea04621e8aa08c!2sDe%20La%20Independencia%2011%2C%20San%20Luis%2C%2074949%20Acatl%C3%A1n%20de%20Osorio%2C%20Pue.!5e0!3m2!1ses!2smx!4v1660605370005!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings5" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3790.2096204540358!2d-98.05082764890268!3d18.200288487535392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cf417d24c3a287%3A0xd8ea04621e8aa08c!2sDe%20La%20Independencia%2011%2C%20San%20Luis%2C%2074949%20Acatl%C3%A1n%20de%20Osorio%2C%20Pue.!5e0!3m2!1ses!2smx!4v1660605370005!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings6" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3187.1724710389285!2d-98.05363484840551!3d18.20035474760225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8592df3105bdffbf%3A0x777e7800e5acba06!2sCarr.%20Internacional%2C%20Tehuitzingo%2C%20Pue.!5e0!3m2!1ses!2smx!4v1660605584785!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings7" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3798.6197657316397!2d-97.77738014890689!3d17.809558587767125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c601d3f9baec19%3A0x1231ad7b42ce9405!2sC.%20Nuyo%C3%B3%2023%2C%20Centro%2C%2069000%20Huajuapan%20de%20Le%C3%B3n%2C%20Oax.!5e0!3m2!1ses!2smx!4v1660605759918!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings8" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3774.296465681997!2d-99.19085944889451!3d18.91826238711575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce757e0a94f70f%3A0x2d796644425bfbdc!2sCuernavaca%20-%20Jiutepec%2011%2C%20Bugambilias%2C%2062550%20Jiutepec%2C%20Mor.!5e0!3m2!1ses!2smx!4v1660605877359!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings9" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d944.1727719823303!2d-98.95166331186363!3d18.811910299198612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce6f141c19e7c1%3A0x704ad9db5f02ef2a!2sCarr.%20Tlayecac%20-%20Cuautla%2053%2C%20Centro%2C%2062740%20Cuautla%2C%20Mor.!5e0!3m2!1ses!2smx!4v1660606037745!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings10" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d944.1772993426663!2d-98.95338301186365!3d18.81110379919863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce6f13faec5757%3A0xb5c9617e998d002b!2sIng.%20Mongoy%2084%2C%20Centro%2C%2062740%20Cuautla%2C%20Mor.!5e0!3m2!1ses!2smx!4v1660606146694!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings11" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3778.7921922232626!2d-98.79714134375824!3d18.718119570651456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce5dd82d5d2ffb%3A0x117e5c185ce6feaa!2sTerminal%20Oro!5e0!3m2!1ses!2smx!4v1660606599689!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings12" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3804.137389678695!2d-98.57653984890973!3d17.548638987923198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c923df2f0903d7%3A0x416e15e0bc318fc5!2sAv%20Igualita%20197%2C%20San%20Diego%2C%2041300%20Tlapa%2C%20Gro.!5e0!3m2!1ses!2smx!4v1660606752533!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings13" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.3457714280225!2d-97.92382824888996!3d19.31079658688957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cffc85d777f68f%3A0xe6043608410fc1b4!2sMatamoros%20Ote%20103%2C%20Centro%2C%2090501%20Huamantla%2C%20Tlax.!5e0!3m2!1ses!2smx!4v1660606880232!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-settings14" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="ps-3">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12777.693890121736!2d-98.56578332240049!3d17.799628607527435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cbec6dfad29a0f%3A0x6a1366f83537460!2zTcOpeGljbyA5MywgSHVhbXV4dGl0bMOhbiwgR3JvLg!5e0!3m2!1ses!2smx!4v1660607089644!5m2!1ses!2smx" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                          </div>
                          
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 d-lg-none">
                  <div class="accordion accordion-flush" id="accordionFlushExample">

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
                          <h6 class="fw-bold">CAPU (Puebla)</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">Dirección: Blvd. Norte 4222, Col. Las Cuartillas, Puebla, Puebla.<br>
                            Teléfono: 222 249 74 19</p>
                          
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
                          <h6 class="fw-bold">2 Poniente (Puebla)</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">Dirección: 2 poniente 3303, Esquina con 33 norte, Col. Amor Puebla, Puebla.<br>
                            Teléfono: 222-2496303</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                          <h6 class="fw-bold">Atlixco Centro</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">Dirección: Av. Independiencia 701, Col. Centro, Atlixco, Puebla.<br> 
                            Teléfono: 244-4451139</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                          <h6 class="fw-bold">Atlixco Ferro</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">Calle del Encino sin número, Col. Prado Sur, Atilxco, Puebla.<br> 
                            Teléfono: 244-7618899</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                          <h6 class="fw-bold">I. de Matamoros</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">C. Morelos 16, Col. Centro, Izúcar de Matamoros, Puebla.<br> 
                            Teléfono: 243-4360730</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                          <h6 class="fw-bold">Acatlán de Osorio</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">Av. Independencia 11, Col. San Rafael, Acatlán de Osorio, Puebla<br> 
                            Teléfono: 953-5340199</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading7">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
                          <h6 class="fw-bold">Chiautla</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading7" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">Av. Reforma 14, Col. Centro, Chiautla de Tapia, Puebla<br> 
                            Teléfono: 275-4312474</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading8">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
                          <h6 class="fw-bold">Tehuitzingo</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-heading8" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">Carretera Internacional sin número, Col. Centro, Tehuitzingo, Puebla<br> 
                            Teléfono: 275-4325492</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading9">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9">
                          <h6 class="fw-bold">Huajuapan Centro</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="flush-heading9" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">C. Nuyoo 19, Col. Centro, Huajuapan de León, Oaxaca<br> 
                            Teléfono: 953-5321513</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading10">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
                          <h6 class="fw-bold">Cuernavaca</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading10" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">Blvd. Cuauhnahuac Km 1.5, Col. Bugambilias, Cuernavaca, Morelos<br> 
                            Teléfono: 777-5163730</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading11">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse11" aria-expanded="false" aria-controls="flush-collapse11">
                          <h6 class="fw-bold">Cuautla Artillero</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse11" class="accordion-collapse collapse" aria-labelledby="flush-heading11" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">Máximo Bravo Y Mariano 53, Esq. Ejército Americano, Col. Artillero, Cuautla, Morelos<br> 
                            Teléfono: 735-1080049</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading12">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapse12">
                          <h6 class="fw-bold">Cuautla Centro</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse12" class="accordion-collapse collapse" aria-labelledby="flush-heading12" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">C. 2 de Mayo Esq. Ing. Monroy 68, Col. Centro, Cuautla, Morelos<br> 
                            Teléfono: 735-3523555</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading13">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse13" aria-expanded="false" aria-controls="flush-collapse13">
                          <h6 class="fw-bold">Amayuca</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse13" class="accordion-collapse collapse" aria-labelledby="flush-heading13" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">Carretera México-Oaxaca sin número, Col. Cuatro Caminos, Jantetelco, Morelos<br> 
                            Teléfono: 731-3514230</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading14">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse14" aria-expanded="false" aria-controls="flush-collapse14">
                          <h6 class="fw-bold">Tlapa</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse14" class="accordion-collapse collapse" aria-labelledby="flush-heading14" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">C. Morelos 44 Esq. con Heroico Colegio Militar, Col. San Francisco, Tlapa de Comonfort, Guerrero<br> 
                            Teléfono: 757-4760083</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading15">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse15" aria-expanded="false" aria-controls="flush-collapse15">
                          <h6 class="fw-bold">Huamantla</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse15" class="accordion-collapse collapse" aria-labelledby="flush-heading15" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">C. Matamoros Oriente 103, Col. Centro, Huamantla, Tlaxcala<br> 
                            Teléfono: 247-4722512</p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading16">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse16" aria-expanded="false" aria-controls="flush-collapse16">
                          <h6 class="fw-bold">Huamuxtitlán</h6>
                        </button>
                      </h2>
                      <div id="flush-collapse16" class="accordion-collapse collapse" aria-labelledby="flush-heading16" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <p class="card-text">Carretera Palomas-Tlapa s/n frente a la Cruz de entrada a Huamuxtitlán, Col. El Calvario, Huamuxtitlan, Guerrero. C.P. 41200.<br> 
                            Teléfono: 757-497-0784</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

            </div>

        </div>
    </section>


<app-footer></app-footer>