<app-header></app-header>


    <section class="subheader-site">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center fw-bold text-uppercase display-6">QUIÉNES SOMOS</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="oro-bg">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-4 px-4">
                    <h2 class=" display-4 fw-bold">Tenemos más de 70 años de experiencia</h2>
                </div>
                <div class="col-md-8 px-3">
                    <p class="lead">Somos una empresa dedicada al transporte de personas, líderes en las regiones de los estados de Puebla, Oaxaca, Tlaxcala, Guerrero y Morelos. Nos enfocamos en ofrecer soluciones integrales de transporte orientadas a satisfacer las diferentes necesidades de los usuarios, obteniendo liderazgo en el mercado y logrando clientes satisfechos.</p>
                    <p class="lead">Cada año, a través de nuestros servicios de Primera Clase, Ordinario, Súper Turismo y viajes especiales, trasladamos miles de personas a su destino otorgando una experiencia de viaje seguro y confortable.</p>
                    <h4 class="fw-bold">Nuestros valores</h4>
                    <p class="lead">Nos regimos en base a principios y valores éticos que nos constituyen como una organización comprometida con el entorno y la sociedad en general.</p>
                    <p class="lead">EL RESPETO, LA CONFIANZA Y LA UNIÓN son los valores que rigen nuestra empresa.</p>
                    <div class="row py-5">
                        <div class="col-6">
                            <h4 class="fw-bold">Nuestra misión</h4>
                            <p class="lead">Ofrecer soluciones integrales en el traslado de personas y elevar la calidad de vida de nuestros usuarios.</p>
                        </div>
                        <div class="col-6">
                            <h4 class="fw-bold">Nuestra visión</h4>
                            <p class="lead">Consolidarnos como un grupo de empresas líderes en México en soluciones integrales de viajes de personas.</p>
                        </div>
                    </div>
                    <h4 class="fw-bold">Nuestros estándares de calidad</h4>
                    <ul>
                        <li>Seguridad</li>
                        <li>Confort</li>
                        <li>Limpieza</li>
                        <li>Puntualidad</li>
                        <li>Imagen</li>	
                    </ul>
                    <!--
                    <p class="lead">En autotransportes ORO contamos con 3 marcas de servicio regular y 1 dedicada exclusivamente al servicio de turismo:</p>
                    <img src="/assets/img/logos.png" alt="" class="img-fluid d-block mx-auto py-4">
                    <div class="row py-5">
                        <div class="col-6">
                            <h4 class="fw-bold display-6">Misión</h4>
                            <p>Ofrecer soluciones integrales en viajes de personas y así elevar la calidad de vida de nuestros usuarios.</p>
                        </div>
                        <div class="col-6">
                            <h4 class="fw-bold display-6">Visión</h4>
                            <ul>
                                <li>Confianza</li>
                                <li>Unión</li>
                                <li>Respeto</li>
                            </ul>
                        </div>
                    </div>
                    -->
                    <h4 class="fw-bold pt-3">Nuestra historia</h4>
                    <ul>
                        <li>En 1940 Nace Flecha Roja del Sur (FROSUR) con las rutas a Atlixco y a Matamoros y servicio de 1° clase.</li>
                        <li>En 1941 Nace ERCO para ofrecer servicio de 1° clase y FROSUR de 2°</li>
                        <li>En1986 Se obtiene la ruta Puebla-Cuautla</li>
                        <li>En 1988 Desaparece FROSUR</li>
                        <li>En 1991 Nace una nueva empresa para cubrir la ruta Puebla-Cuernavaca</li>
                        <li>En 1994 Se adquiere Surianos como una alternativa de crecimiento</li>
                    </ul>
                    <img src="/assets/img/Autobuses_oro_historia.jpg" alt="Historia Autobuses Oro" srcset="">
                </div>
            </div>
        </div>
    </section>


<app-footer></app-footer>   