<app-header></app-header>


    <section class="subheader-site">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center fw-bold text-uppercase display-6">Más Servicios</h3>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section class="oro-servicios">
        <div class="container">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-8 pb-1">
                    <h4 class="text-center display-6">Oropack</h4>
                    <p class="lead text-center">Contamos con servicio de paquetería y mensajería de entrega rápida. En unas cuantas horas el paquete estará en su destino final.</p>
                </div>
            </div>
            
        </div>
    </section>
    -->

    <section class="oro-servicios">
        <div class="container">
            <div class="row d-flex align-items-center py-5">
                <div class="col-md-6 px-5">
                    <h3 class="display-5 fw-bold">Oropack</h3>
                    <p class="lead">Oropack es nuestro servicio de paquetería y mensajería que se ocupa de trasladar los documentos y paquetes en cuestión de horas. Contamos con una amplia cobertura a lo largo y ancho de la República Mexicana.</p>
                    <!--<p class="lead">El servicio de paquetería cubre las siguientes ciudades:</p>-->
                    <ul>
                        <div class="row">
                            <div class="col-6">
                                <li>Atlixco</li>
                                <li>Izúcar de Matamoros</li>
                                <li>Chiautla de Tapia</li>
                                <li>Huajuapan</li>
                                <li>Acatlán</li>
                                <li>Palomas</li>
                                <li>Tehuitzingo</li>
                                <li>Tlapa</li>
                                <li>Huamuxtitlán</li>
                                <li>Tulcingo</li>
                                <li>Cuautla</li>
                                <li>Amayuca</li>
                                <li>Cuernavaca</li>
                                <li>Puebla</li>
                                <li>Huamantla</li>
                                <li>Monterrey, N.L.</li>
                                <li>Guadalajara, Jal.</li>
                                <li>Zapopan, Jal.</li>
                                <li>Puerto Vallarta, Jal.</li>
                                <li>Nuevo Laredo, Tamps.</li>
                                <li>León, Gto.</li>
                                <li>Celaya, Gto.</li>
                                <li>Zacatecas, Zac.</li>
                                <li>Morelia, Mich.</li>
                                <li>Uruapan, Mich.</li>
                                	
                            </div>
                            <div class="col-6">
                                
                                <li>Nuevo Vallarta, Nay.</li>
                                <li>Tepic, Nay.</li>
                                <li>Culiacán, Sin.</li>
                                <li>Mazatlán, Sin. </li>
                                <li>Querétaro, Qro.</li>
                                <li>Aguascalientes, Ags.</li>
                                <li>Colima, Col.</li>
                                <li>Manzanillo, Col.</li>
                                <li>Durango, Dgo.</li>
                                <li>Saltillo, Coah.</li>
                                <li>San Luis Potosí, S.L.P.</li>
                                <li>Toluca, Edo Mx.</li>
                                <li>Ixtapa, Gro.</li>
                                <li>Iguala, Gro.</li>
                                <li>Acapulco, Gro.</li>
                                <li>Chilpancingo, Gro.</li>
                                <li>Lázaro Cárdenas, Mich.</li>
                                <li>Puerto Escondido, Oax.</li>
                                <li>Ciudad de México</li>
                                <li>Observatorio</li>
                                <li>Norte</li>
                                <li>Taxqueña</li>

                            </div>
                        </div>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="/assets/img/home_logistics2_pic18.png" class="img-fluid rounded-3 shadow-lg border-0 d-block mx-auto" alt="Oropack" >
                </div>
            </div>
        </div>
    </section>

    <section class="oro-serviciosinfo">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 text-center">
                    <img src="/assets/img/delivery-box.png" class="img-fluid d-block mx-auto py-4" alt="Oro Pack">
                    <p class="lead text-center text-white pb-4">Para mayores informes favor de llamar al (222) 249 74 19</p>
                    <!--<button type="button" class="btn btn-oro" >Contáctanos</button>-->
                    <a href="/contacto" class="btn btn-oro">Contáctanos</a>
                </div>
            </div>
        </div>
    </section>


<app-footer></app-footer>    
