<app-header></app-header>


    <section class="subheader-site">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center fw-bold text-uppercase display-6">Políticas y recomendaciones de viaje</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="oro-bg">
      <div class="container">
          <div class="row d-flex justify-content-center">
              <div class="col-md-10">
                <div class="accordion" id="accordionExample">
                  
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h5 class="fw-bold"><i class="fa-solid fa-percent"></i> Descuentos</h5>
                      </button>
                    </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <h5 class="fw-bold">Descuento 50% para niños</h5>
                          <ul>
                            <li>Niños de 3 a 11 años tendrán derecho al 50% de descuento y ocupar un asiento si su estatura es menor o igual a 1.30 m. </li>
                            <li>En caso de rebasar la estatura permitida deberán acreditar su límite de edad con CURP o credencial escolar. Si el boleto se adquiere en línea deberán presentar su CURP o credencial escolar al momento de abordar, de lo contrario, deberá adquirir un boleto completo al momento bajo el riesgo de pérdida de autobús. </li>
                            <li>Aplicable únicamente en taquillas y venta en línea (no en autobuses, no con boleteros).</li>
                            <li>Niños de 0 a 2 años no pagan boleto y deben viajar en el mismo asiento que el adulto</li>
                            <li>Pasajeros de 15 a 17 años y 11 meses pueden viajar solos siempre y cuando el padre, madre o tutor se presente en taquillas y llene la carta responsiva adjuntando la copia de su identificación oficial, identificación del menor y CURP del menor. El padre, madre o tutor deben acompañar al menor hasta su abordaje.</li>
                          </ul>
                          <p class="fst-italic">Los descuentos no son acumulables</p>

                          <h5 class="fw-bold">Descuento 50% para adultos mayores</h5>
                          <ul>
                            <li>Presentar su credencial original y vigente de INAPAM o INSEN. Si el boleto se adquiere en línea, el pasajero deberá presentar su credencial INAPAM original (no se aceptan copias) al momento de abordar, de lo contrario, no podrá abordar la unidad con el riesgo de pérdida de autobús. </li>
                            <li>Aplicable únicamente en taquillas y venta en línea (no en autobuses, no con boleteros)</li>
                            <li>No se aceptan copias</li>
                            <li>Máximo 6 descuentos por autobús.</li>
                            <p class="fst-italic">Los descuentos no son acumulables</p>
                          </ul>

                          <h5 class="fw-bold">Descuento 25% para maestros</h5>
                          <p>Descuento válido únicamente para docentes/profesores en temporada vacacional de acuerdo a calendario SEP</p>
                          <ul>
                            <li>Presentar en original su credencial vigente que tenga: nombre, fotografía, institución y sello. También debe especificar claramente: maestro, docente o profesor</li>
                            <li>En caso de no contar con credencial, presentar último talón de pago original, impreso y una identificación oficial</li>
                            <li>Aplicable para instituciones incorporadas a la SEP, UNAM o IPN</li>
                            <li>No aplican credenciales de agremiados CNTE o SNTE y sindicato</li>
                            <li>Aplicable únicamente en taquillas(no en autobuses, no con boleteros)</li>
                            <li>Máximo 2 descuentos por autobús. Sólo aplica en servicio Primera Clase y Económico</li>
                          </ul>
                          <p class="fst-italic">Los descuentos no son acumulables</p>

                          <h5 class="fw-bold">Descuento 50% para estudiantes</h5>
                          <p>Descuento válido únicamente en temporada vacacional de acuerdo a calendario SEP</p>
                          <ul>
                            <li>Presentar en original su credencial vigente que tenga: nombre, fotografía, institución y sello</li>
                            <li>En caso de no contar con credencial deberán presentar su boleta de estudios, kárdex o una constancia de estudios de la institución con nombre del alumno, sello de la institución e indicando el periodo vacacional adjuntando una identificación oficial o CURP. Todos los documentos en original.</li>
                            <li>Aplicable para instituciones incorporadas a la SEP, UNAM o IPN</li>
                            <li>Aplicable únicamente en taquillas (no en autobuses, no con boleteros)</li>
                            <li>Máximo 8 descuentos por autobús. Sólo aplica en servicio Primera Clase y Económico. </li>
                          </ul>
                          <p class="fst-italic">Los descuentos no son acumulables</p>

                          <h5 class="fw-bold">Descuento 10% para personas con discapacidad</h5>
                          <p>Válido para personas con credencial emitida por el Sistema Nacional para el Desarrollo Integral de la Familia (SNDIF).</p>
                          <ul>
                            <li>Presentar credencial vigente en original y una copia </li>
                            <li>Aplicable únicamente en taquillas (no en autobuses, no con boleteros).</li>
                            <li>Sólo aplica en servicio Primera Clase y Económico</li>
                            <li>Máximo 2 descuentos por autobús</li>
                          </ul>
                          <p class="fst-italic">Los descuentos no son acumulables</p>

                          <h5 class="fw-bold">Descuento 20% ISSFAM</h5>
                          <p>Descuento aplicable para miembros de las Fuerzas Armadas Mexicanas en Servicio Activo, en Situación de Retiro, Pensionistas, trabajadores del  ISSFAM y BANJERCITO. </p>
                          <ul>
                            <li>Presentar su identificación vigente expedida por las Secretarías de la Defensa Nacional, de Marina, ISSFAM y/o BANJERCITO que lo acredite como miembro, en original y copia.</li>
                            <li>Para el caso de los derechohabientes, deberán presentar la credencial vigente que acredite ser padre, madre, esposa (o) y/o hija (o) del trabajador, en original y copia.</li>
                            <li>Sólo aplica en servicio Primera Clase y Económico. </li>
                            <li>Máximo 4 boletos con descuento por viaje.</li>
                            <li>Aplica únicamente en taquilla (no en taquilla exprés, no en autobuses).</li>
                          </ul>

                          <h5 class="fw-bold">Descuento 50% pasajero quedado</h5>
                          <ul>
                            <li>El pasajero deberá acercarse a taquillas en un lapso no mayor a 40 minutos después de la hora marcada en su boleto.</li>
                            <li>Deberá entregar el boleto original y pagar el 50% del nuevo pasaje</li>
                            <li>Aplica únicamente hacia el mismo destino y en la próxima salida</li>
                          </ul>
                          <p class="fst-italic">Los descuentos no son acumulables</p>

                        </div>
                      </div>
                    
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h5 class="fw-bold"><i class="fa-solid fa-money-bill-transfer"></i> Forma de pago</h5>
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <h5 class="fw-bold">Pago en taquilla</h5>
                        <p>En taquilla se aceptan pagos:</p>
                        <ul>
                          <li>En efectivo (es responsabilidad del pasajero verificar que la devolución de cambio sea correcta)</li>
                          <li>Tarjeta de crédito o débito (en las terminales con disposición TPV). No aplicable para tarjetas American Express.</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h5 class="fw-bold"><i class="fa-solid fa-ticket"></i> Boletos</h5>
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <h5 class="fw-bold">Reservación de boletos</h5>
                        <p>La reservación de boletos se debe solicitar hasta 3 horas antes de su viaje en taquillas, vía mensaje WhatsApp al: 222 450 6605 o llamada telefónica al: 222 249 7419 brindando los siguientes datos: </p>
                        <ul>
                          <li>Nombre del pasajero</li>
                          <li>Punto de partida</li>
                          <li>Destino</li>
                          <li>Fecha y horario en el que se desee viajar</li>
                          <li>No aplica ningún tipo de descuento</li>
                        </ul>
                        <p>Una vez realizada la reservación, el pasajero deberá presentarse 45 minutos antes de la hora de viaje para realizar el pago correspondiente en taquillas donde realizó su reservación, de no ser así, el sistema cancelará la reservación automáticamente.</p>

                        <h5 class="fw-bold">Boletos anticipados</h5>
                        <ul>
                          <li>La compra anticipada se realiza directamente en taquilla hasta 2 horas antes de su viaje.</li>
                          <li>Una vez realizada la impresión del boleto no se realizan cambios, cancelaciones o reembolsos.</li>
                        </ul>

                        <h5 class="fw-bold">Boletos digitales</h5>
                        <p>A través del portal de internet <a href="https://www.autobusesoro.com.mx" target="_blank">www.autobusesoro.com.mx</a> el pasajero podrá adquirir sus boletos con destinos a Cuernavaca, Cuautla y/o Amayuca.</p>
                        <p>Si el pasajero presenta algún problema en el proceso de compra, deberá comunicarse inmediatamente al 222 249 7419 o enviar un mensaje al  222 450 6605 para darle seguimiento.</p>

                        <h5 class="fw-bold">Cancelación de boletos</h5>
                        <ul>
                          <li>Una vez confirmado e impreso el boleto no hay cancelaciones, devolución de efectivo y/o tarjeta  y/o cambio de horario de viaje.</li>
                          <li>Si el pasajero adquiere su boleto a través del portal de internet <a href="https://www.autobusesoro.com.mx" target="_blank">www.autobusesoro.com.mx</a>. Una vez que el pasajero haya confirmado sus datos no se podrá realizar ninguna cancelación o cambio de horario. Es responsabilidad total del pasajero colocar los datos correctos al realizar su compra en el portal.</li>
                          <li>Los boletos comprados con ofertas promocionales no son sujetos a cambios ni devoluciones.</li>
                          <li>Para compras en tarjeta de débito o crédito no aplica reembolsos en efectivo. Para compras con tarjeta de crédito American Express no aplican cancelaciones, cambios de horario ni devoluciones.</li>
                          <li>Boletos que hayan tenido cambio de horario o servicio no podrán ser cancelados.</li>
                          <li>La empresa puede cancelar los boletos cuando:
                            <ul>
                              <li>El usuario se niega a ser inspeccionado por el personal de seguridad ya sea a su persona o a su equipaje.</li>
                              <li>El pasajero porte un arma y/o no quiera documentar un arma que ponga en riesgo la integridad de los demás pasajeros.</li>
                              <li>El pasajero se encuentre en estado de ebriedad, drogas, algún tipo de enervante o problemas de salud.</li>
                              <li>Las corridas tengan un retraso por causas ajenas a la empresa</li>
                            </ul>
                          </li>
                        </ul>

                        <h5 class="fw-bold">Boletos extraviados</h5>
                        <ul>
                          <li>Boletos No Re-imprimibles. Los boletos extraviados no son re-imprimibles, si el pasajero extravía su boleto, no hay forma de recuperarlo. No hay devolución ni reposición y se deberá adquirir un nuevo boleto con el costo completo.</li>
                          <li>Boletos Re-imprimibles. Los boletos extraviados que cuenten con nombre del pasajero pueden recuperarse mientras el titular del boleto acuda directamente a la terminal de abordaje presentando una identificación oficial y/o comunicarse vía mensaje al WhatsApp al 222 450 6605 compartiendo los siguientes datos:
                            <ul>
                              <li>Nombre del pasajero:</li>
                              <li>Lugar de abordaje: </li>
                              <li>Destino: </li>
                              <li>Fecha de viaje: </li>
                              <li>Horario: </li>
                              <li>Asiento</li>
                            </ul>
                          </li>
                        </ul>
                        <p>La solicitud de re-impresión de boletos debe ser al menos 1 hora antes de la salida de su viaje.</p>

                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h5 class="fw-bold"><i class="fa-solid fa-suitcase"></i> Equipaje</h5>
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <h5 class="fw-bold">Documentación de equipaje y/o carga</h5>
                        <ul>
                          <li>Cada pasajero con boleto completo puede transportar hasta 35 kg de equipaje sin costo. No aplican boletos con descuento.</li>
                          <li>Se considera equipaje a todos los objetos destinados al uso personal e inmediato del viajero (vestimenta, libros, herramientas de un arte u oficio), contenidos en maletas, cajas o bolsas debidamente sellados, así como, artículos que por su volumen no tenga carácter de expedición comercial.</li>
                          <li>Los equipajes/carga que tengan dimensiones superiores al peso físico se aplica obligatoriamente el costo por “peso volumétrico” utilizando el Coeficiente de Estiba de la Asociación Internacional de Transporte Aéreo (AITA): <br>
                            Largo (cm) x Ancho (cm) x Alto (cm)/6000
                          </li>
                          <li>El equipaje que viaja en servicio de puntos intermedios y/o económicos, va bajo responsabilidad total del pasajero.</li>
                          <li>El pasajero no podrá transportar:
                              <ul>
                                <li>Materiales y residuos peligrosos</li>
                                <li>Explosivos, pirotecnia, gases comprimidos, líquidos inflamables, líquidos y solventes (pinturas, miel, comida), sólidos inflamables, tóxicos agudos, agentes infecciosos, radioactivos, corrosivo, etc.</li>
                                <li>Artículos perecederos o alimentos</li>
                                <li>Drogas, psicotrópicos y estupefacientes</li>
                                <li>Cigarros electrónicos</li>
                                <li>Piratería</li>
                                <li>Armas de fuego y explosivos</li>
                                <li>Dinero, joyas, antigüedades negociables</li>
                                <li>Cualquier otro objeto que requiera de permiso específico o bien lo restrinja alguna ley en particular</li>
                              </ul>
                          </li>
                          <li>Para el traslado de objetos/equipos de valor, viaja bajo responsabilidad absoluta del pasajero, por lo que se recomienda llevarlo en equipaje de mano y a bordo de la unidad.</li>
                          <li>El pasajero está obligado a entregar su equipaje en óptimas y adecuadas condiciones para su traslado. La empresa no se hace responsable por el daño parcial o total de lo que transporte en su equipaje.</li>
                          <li>Armas de fuego. Pasajeros miembros de las Secretarías de la Defensa Nacional, de Marina, ISSFAM y/o BANJERCITO o que cuenten con licencia de portación de arma, deberán presentar una identificación oficial o credencial de la corporación a la que pertenecen junto con la licencia de portación de arma vigente expedido por la Secretaría de la Defensa Nacional (SEDENA). Una vez cubiertos los requisitos, el pasajero deberá firmar el registro de portación de armas. El arma viajará descargada, dentro del equipaje y en la cajuela del autobús, de oponerse el pasajero, no le será permitido el abordaje.</li>
                        </ul>

                        <h5 class="fw-bold">Equipaje a bordo</h5>
                        <p>Autobús:</p>
                        <ul>
                          <li>Se puede llevar a bordo de la unidad un equipaje de mano y/o artículo por pasajero que no exceda las medidas: 43cm de alto por 25cm de ancho y 22cm de profundidad (si los artículos exceden el tamaño, deberá ser colocado en cajuelas).</li>
                        </ul>
                        <p>Camionetas:</p>
                        <ul>
                          <li>Se puede llevar a bordo de la unidad un equipaje de mano y/o artículo por pasajero que no obstaculice el pasillo y/o comodidad de los demás pasajeros.</li>
                        </ul>
                        <p>El equipaje que viaja a bordo va bajo resguardo y responsabilidad absoluta del pasajero.</p>

                        <h5 class="fw-bold">Equipaje u objetos olvidados</h5>
                        <ul>
                          <li>La empresa no se hace responsable por los equipajes u objetos dañados, olvidados o perdidos a bordo de los autobuses o en los puntos de venta (incluyen objetos o equipos de valor, frágiles o electrónicos, etc.).</li>
                        </ul>

                        <h5 class="fw-bold">Equipaje extraviado</h5>
                        <ul>
                          <li>En caso de pérdida de equipaje, la empresa tiene un tiempo máximo de 72 horas para su búsqueda.</li>
                          <li>Declarado el extravío del equipaje y con responsabilidad por parte de la empresa, se debe realizar el pago al pasajero afectado la cantidad de 15 UMAS como máximo por la pérdida. </li>
                          <li>El seguimiento del equipaje extraviado se realiza únicamente si el pasajero presenta su boleto y ticket original de la maleta.</li>
                          <li>El equipaje que viaja en servicio de puntos intermedios va bajo responsabilidad total del pasajero.</li>
                        </ul>

                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <h5 class="fw-bold"><i class="fa-solid fa-paw"></i> Mascotas</h5>
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>Solo se pueden transportas perros de raza mediana, gatos y/o gallos siempre y cuando cumplan con las condiciones adecuadas de seguridad e higiene. Deben documentarse antes de abordar.</p>
                        <ul>
                          <li>El usuario podrá viajar con mascotas siempre y cuando se traslade en transportadora individual, rígida y segura para la mascota. </li>
                          <li>Las mascotas viajan en la cajuela del autobús</li>
                          <li>Es obligación del usuario llevar a su mascota en condiciones óptimas para su traslado (no deberá presentar signos de enfermedades infecciosas, heridas frescas y/o en proceso de cicatrización). Se debe considerar el tiempo de trayecto y condiciones climatológicas.</li>
                          <li>No se permiten mascotas menores a 4 meses de edad (cachorros).</li>
                          <li>El peso máximo de las mascotas permitido para su traslado es de 30 kg con transportadora incluida.</li>
                          <li>No se pueden transportar animales exóticos o en peligro de extinción (animales prohibidos según la SEMARNAT o PROFEPA).</li>
                          <li>Mascotas a bordo de la unidad.
                            <ul>
                              <li>Mascotas de servicio (perros de rescate y lazarillos) que cuenten con permisos o autorización, podrán viajar a bordo del autobús con el equipo de traslado adecuado (collar con correa o arnés), presentando documentación original oficial que indique por qué debe estar a bordo adjuntando un certificado oficial que acredite su entrenamiento para los fines específicos; también se deberá presentar un certificado de salud y/o vacunación actualizada expedida por médico veterinario. Estas mascotas viajan bajo responsabilidad absoluta del pasajero. Las mascotas no viajan en los asientos.</li>
                              <li>Mascotas de apoyo emocional. Las mascotas de apoyo emocional permitidas son perros de raza mediana o gatos en una transportadora. El usuario deberá presentar un dictamen médico oficial (membretado) no mayor a 3 meses de antigüedad que contenga el nombre de la clínica, cédula profesional del psicólogo/psiquiatra en el que especifique los motivos por el que el pasajero debe viajar en compañía de la mascota. La mascota deberá contar con certificado oficial que acredite su entrenamiento para los fines específicos y un certificado de salud y/o vacunación actualizada expedida por médico veterinario. Estas mascotas viajan bajo responsabilidad absoluta del pasajero. Las mascotas no viajan en los asientos y no pueden sacarse de su transportadora, de modo que, deberán viajar el equipo necesario para evitar algún incidente a bordo de la unidad.</li>
                            </ul>
                          </li>
                          <li>Una vez que el usuario cubra los requisitos de traslado de su mascota, deberá firmar la carta responsiva correspondiente.</li>
                          <li>Máximo 1 mascota por pasajero y máximo 2 mascotas permitidas por autobús.</li>
                          <li>Las mascotas se admitirán por orden de llegada, por lo que se le recomienda al usuario adquirir su boleto directamente en taquillas para asegurar el lugar de su mascota.</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <h5 class="fw-bold"><i class="fa-solid fa-file-invoice-dollar"></i> Facturación</h5>
                      </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>Derivado a la actualización de nuestro portal en línea, hay 2 formas de realizar facturas</p>
                        <ul>
                          <li><b>Facturación en taquillas.</b> El pasajero deberá acudir a su terminal más cercana presentando los boletos de viaje en original (no se aceptan copias), adjuntando los datos fiscales y un correo electrónico por el cual se enviará la factura. El tiempo de respuesta es de un lapso de 4 días hábiles contando a partir de realizar la solicitud.</li>
                          <li><b>Facturación en línea:</b> Sólo se podrán facturar a través del portal www.autobusesoro.com.mx boletos que cuenten con código QR</li>
                        </ul>
                        <p>Una vez recibida la factura se tienen 24 hrs para cotejar la información y solicitar correcciones en caso de haber errores (por parte de la empresa) en los datos. Pasando ese lapso no se realizará corrección alguna.</p>
                        <p><b>NOTA:</b> La expedición de facturas, por tratarse de un documento electrónico fiscal, sólo se puede solicitar dentro del mes en el cual el pasajero realiza su viaje y 2 días naturales posteriores al cierre del mes inmediato anterior. Pasando las fechas no se expide ningún comprobante debido a que su ticket pasa a formar parte de la factura global correspondiente al mes de que se trate.</p>
                        <p>Dudas o aclaraciones sobre sus facturas marcar a los siguientes teléfonos: 2-49-74-19 ext. 343 o vía WhatsApp al 221 591 7715 en un horario de 9:30 a 15:00 y 17:00 a 19:00 h de lunes a viernes y sábado de 9:30 a 15:00 h.</p>

                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        <h5 class="fw-bold"><i class="fa-solid fa-user-shield"></i> Seguridad</h5>
                      </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>Por seguridad del pasajero y en apego al reglamento de la Secretaría de Comunicaciones y Transportes no pueden abordar:</p>
                        <ul>
                          <li>Personas en estado de ebriedad y/o aliento alcohólico.</li>
                          <li>Personas bajo el influjo de sustancias tóxicas.</li>
                          <li>La empresa se reserva el derecho de abordaje a todas aquellas personas que muestren comportamientos discriminatorios, de acoso o que trasgredan la individualidad y/o integridad de 3as personas.</li>
                          <li>Si el pasajero percibe un comportamiento inadecuado por parte de otro, deberá acercarse a los colaboradores de la terminal, operadores (en caso de ir en el trayecto).</li>
                        </ul>
                        
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <h5 class="fw-bold"><i class="fa-solid fa-bus"></i> Recomendaciones de viaje</h5>
                      </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul>
                          <li>Verificar el destino, día y hora del boleto impreso. </li>
                          <li>Llegar al menos 45 minutos antes del viaje para adquirir el boleto</li>
                          <li>Con boleto en mano estar en la sala de espera 10 minutos antes de la salida de su autobús y no distanciarse.</li>
                          <li>Estar atento al voceo del viaje donde se indica puerta, andén y número de autobús para abordar</li>
                          <li>Si el pasajero tiene alguna duda sobre su viaje, debe acudir al personal de servicio y atención al cliente quien estará para apoyarle.</li>
                          <li>Al abordar el pasajero debe respetar el número de asiento impreso en su boleto</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
          </div>
      </div>
    </section>            


<app-footer></app-footer> 